<% layout("layouts/boilerplate") %>
    <link rel="stylesheet" href="/style_sheets/registration_redirect.css" />

    <div class="container-fluid m-auto" id="choiceContainer">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-6">
                <a href="/users/register">
                    <button class="btn btn-primary">Click For User Registration</button></a>
            </div>
            <div class="col-6">
                <a href="/companies/register">
                    <button class="btn btn-secondary">
          Click For Company Registration
        </button>
                </a>
            </div>
        </div>
    </div>