<% layout("layouts/boilerplate") %>
    <link rel="stylesheet" href="/style_sheets/dashboard.css" />

    <link rel="stylesheet" href="/style_sheets/checkout.css" />

    <div class="container-fluid">
        <h1 class="display-4 text-center mb-3">Analytics</h1>
        <!-- Content Row -->
        <div class="row">
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="
                  text-xs
                  font-weight-bold
                  text-primary text-uppercase
                  mb-1
                ">
                                    Spent (Today)
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                    $
                                    <%= userAnalytics.totalAmountSpentToday || 0 %>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="
                  text-xs
                  font-weight-bold
                  text-success text-uppercase
                  mb-1
                ">
                                    Amount Spent (All Time)
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                    $
                                    <%= userAnalytics.totalAmountSpentByDay ?
                userAnalytics.totalAmountSpentByDay.reduce((sum, current) =>
                sum+current, 0) : userAnalytics.totalAmountSpentByDay || 0%>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Content Row -->

            <div class="row">
                <!-- Area Chart -->
                <div class="col-xl-8 col-lg-7">
                    <div class="card shadow mb-4">
                        <!-- Card Header - Dropdown -->
                        <div class="
              card-header
              py-3
              d-flex
              flex-row
              align-items-center
              justify-content-between
            ">
                            <h6 class="m-0 font-weight-bold text-primary text-center w-100">
                                Total Amount Spent Per Day
                            </h6>
                            <div class="dropdown no-arrow">
                                <div class="shadow animated--fade-in" aria-labelledby=""></div>
                            </div>
                        </div>
                        <!-- Card Body -->
                        <div class="card-body">
                            <div class="chart-area">
                                <canvas id="spendings-chart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-8 col-lg-7">
                    <div id="product-analytics-card" class="card shadow mb-4">
                        <!-- Card Header - Dropdown -->
                        <div class="
              card-header
              py-3
              d-flex
              flex-row
              align-items-center
              justify-content-between
            ">
                            <h6 class="m-0 font-weight-bold text-primary text-center w-100">
                                Product Analytics <br />
                                <label class="form-label">Choose the receipt: </label>
                                <input type="number" class="form-control" id="receipt-change-input" value="1" />
                            </h6>
                            <div class="dropdown no-arrow"></div>
                        </div>
                        <!-- Card Body -->
                        <div class="card-body d-flex justify-content-center">
                            <p class="lead" id="save-receipt">Choose a Receipt to Save Above</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Content Row -->
        </div>
    </div>

    <script>
        const userAnalytics = JSON.parse(`<%- JSON.stringify(userAnalytics) %>`);
        const companyAnalytics = false;
    </script>
    <script src="/javascripts/libraries/jquery/jquery.min.js "></script>
    <script src="/javascripts/libraries/jquery/jquery.easing.min.js "></script>
    <script src="/javascripts/sb-admin-2.min.js "></script>
    <script src="/javascripts/libraries/Chart.min.js "></script>
    <script src="/javascripts/chart-area.js "></script>

    <!-- <script src="/javascripts/dashboard.js "></script> -->

    <script src="/javascripts/libraries/qrcode.js"></script>
    <script src="/javascripts/libraries/axios.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>

    <script src="/javascripts/libraries/invoice.js"></script>

    <script src="/javascripts/user_dashboard.js"></script>

    <!-- <script src="/javascripts/checkout.js "></script> -->